body {
  margin: 0;
  font-family: Arial;
  background: #0e0e0e;
  color: white;
}

header {
  padding: 10px;
  background: #1a1a1a;
  text-align: center;
  font-weight: bold;
}

.layout {
  display: flex;
  height: 90vh;
}

/* 🧭 IZQUIERDA */
.folders {
  width: 18%;
  background: #151515;
  padding: 10px;
}

.folders button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  background: #2a2a2a;
  border: none;
  color: white;
  cursor: pointer;
}

/* 📄 CENTRO */
.files {
  width: 32%;
  background: #1c1c1c;
  padding: 10px;
  overflow-y: auto;
}

.file {
  padding: 10px;
  margin: 5px 0;
  background: #2a2a2a;
  cursor: pointer;
  border-radius: 6px;
}

.file:hover {
  background: #3a3a3a;
}

/* 🎬 DERECHA */
.preview {
  flex: 1;
  padding: 10px;
  background: #111;
}

video {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}
