body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

header {
  text-align: center;
  padding: 15px;
  background: #181818;
}

.container {
  display: flex;
  height: 90vh;
}

/* 📂 IZQUIERDA */
.sidebar {
  width: 25%;
  background: #1c1c1c;
  padding: 10px;
  overflow-y: auto;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background: #2a2a2a;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar button:hover {
  background: #3a3a3a;
}

/* 🎬 DERECHA */
.player {
  flex: 1;
  padding: 20px;
}

video {
  width: 100%;
  max-height: 80vh;
  border-radius: 12px;
  background: black;
}
